<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.dao.StudentMapper">
<!--&lt;!&ndash;    select s.id,s.name,t.name from student s,teacher t where s.tid=t.id;&ndash;&gt;-->
<!--    <select id="getStudent" resultMap="StudentTeacher">-->
<!--        select * from student;-->
<!--    </select>-->
<!--    <resultMap id="StudentTeacher" type="com.hello.pojo.Student">-->
<!--        <result property="id" column="id"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <association property="teacher" column="tid" javaType="com.hello.pojo.Teacher" select="getTeacher"/>&lt;!&ndash;对象用association 集合用collection&ndash;&gt;-->
<!--&lt;!&ndash;        <collection property=""/>&ndash;&gt;-->
<!--    </resultMap>-->
<!--    <select id="getTeacher" resultType="com.hello.pojo.Teacher">-->
<!--        select * from teacher where id = #{id};-->
<!--    </select>-->




    <select id="getStudent2" resultMap="StudentTeacher">
        select s.id sid,s.name sname,t.name tname
        from student s,teacher t
        where s.tid=t.id;
    </select>
    <resultMap id="StudentTeacher" type="com.hello.pojo.Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="com.hello.pojo.Teacher">
            <result property="name" column="tname"/>
        </association>
    </resultMap>




</mapper>